
<!doctype html>

{% extends "homepage2.html" %}
{% block graph %}

        <h2>URL Track form</h2>
        <p class="lead">Enter the url you would like to track below</p>

    <form action = "/add_url" method = "post">
        <label for="product" class="sr-only">Product</label>
        <input name="product" type="text" id="product" class="form-control" placeholder="Product" required"" autofocus"">
        <label for="url" class="sr-only">URL</label>
        <input name="url" type="text" id="url" class="form-control" placeholder="URL" required"" autofocus"">
        <label for="percentage" class="sr-only">Percentage</label>
        <input name="percentage" type="text" id="percentage" class="form-control" placeholder="Percentage" required"" autofocus"">
        <p><input type = submit value=Enter name/></p>
    </form>

{% endblock graph %}